{{#if profesor}}
<table class="table table-bordered table-hover table-dark">
    <thead>
        <tr class="text-center">
            <th>Num.</th>
            <th>RFC</th>
            <th>Nombre</th>
            <th>Paterno</th>
            <th>Materno</th>
            <th>Nacimiento</th>
            <th>Direccion</th>
            <th>Celular</th>
            <th>Profesion</th>
            <th>NumEmpleado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each profesor}}
        <tr>
            <td>{{@index}}</td>
            <td>{{rfc}}</td>
            <td>{{nombre}}</td>
            <td>{{paterno}}</td>
            <td>{{materno}}</td>
            <td>{{fechaNacimiento}}</td>
            <td>{{direccion}}</td>
            <td>{{celular}}</td>
            <td>{{profesion}}</td>
            <td>{{numeroEmpleado}}</td>

            <td>
                {{#if opcion}}
                <a href="/statusProfesor/{{_id}}">
                    <button class="btn btn-warning">No disponible</button>
                </a>
                {{else}}
                <a href="/statusProfesor/{{_id}}">
                    <button class="btn btn-success">Disponible</button>
                </a>
                {{/if}}

                <a href="/actualizarProfesor/{{_id}}">
                    <button class="btn btn-primary">Actualizar</button></a>
                <a href="/eliminarProfesor/{{_id}}">
                    <button class="btn btn-danger">Eliminar</button>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="h-100 d-flex aling-items-center justify-content-center">
    <div class="text-center">
        <h3>No hay datos</h3>
        <a href="/src/views/mensaje.hbs"><img src="/icons/cara.png" class="w-50"></a>
    </div>
</div>
{{/if}}