<div class="container">
   <div class="row">
      <div class="col-md-5 offset-md-3">
         <div class="card card-body bg-dark p-4 text-white">
            <form action="/actualizarProfesor/{{profesor._id}}" method="POST">
               <h4>Editar Profesor</h4>
               <div>
                  <label for="rfc">Modificar RFC</label>
                  <input type="text" name="rfc" placeholder="RFC" value="{{profesor.rfc}}"
                     class="form-control bg-dark text-white">
               </div>
               <div>
                  <label for="nombre">Modificar nombre</label>
                  <input type="text" name="nombre" placeholder="Nombre" value="{{profesor.nombre}}"
                     class="form-control bg-dark text-white">
               </div>
               <div>
                  <label for="paterno">Modificar paterno</label>
                  <input type="text" name="paterno" placeholder="Paterno" value="{{profesor.paterno}}"
                     class="form-control bg-dark text-white">
               </div>
               <div>
                  <label for="materno">Modificar materno</label>
                  <input type="text" name="materno" placeholder="Materno" value="{{profesor.materno}}"
                     class="form-control bg-dark text-white">
               </div>
               <div>
                  <label for="fechaNacimiento">Modificar Nacimiento</label>
                  <input type="date" name="fechaNacimiento" placeholder="Nacimiento"
                     value="{{profesor.fechaNacimiento}}" class="form-control bg-dark text-white">
               </div>
               <div>
                  <label for="direccion">Modificar direccion</label>
                  <input type="text" name="direccion" placeholder="Direccion" value="{{profesor.direccion}}"
                     class="form-control bg-dark text-white">
               </div>
               <div>
                  <label for="celular">Modificar celular</label>
                  <input type="number" name="celular" placeholder="Celular" value="{{profesor.celular}}"
                     class="form-control bg-dark text-white">
               </div>
               <div>
                  <label for="profesion">Modificar profesion</label>
                  <input type="text" name="profesion" placeholder="Profesion" value="{{profesor.profesion}}"
                     class="form-control bg-dark text-white">
               </div>
               <div>
                  <label for="numeroEmpleado">Modificar numero</label>
                  <input type="text" name="numeroEmpleado" placeholder="Numero" value="{{profesor.numeroEmpleado}}"
                     class="form-control bg-dark text-white">
               </div>
               <button class="btn btn-primary">Actualizar</button>
            </form>
         </div>
      </div>
   </div>
</div>